# Jupyter Notebook
**/.ipynb_checkpoints/

# Data repositories
**/output/
**/raw_data/

# Figures
**/figures/

# Pipelines
**/pipeline*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
